* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7f8c8d;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

#drum-machine {
  transform: scale(1);
  transform-origin: 0 0;
  background: #ecf0f1;
  width: 40rem;
  height: 40rem;
  margin: 10rem auto;
  border-radius: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

span {
  padding-right: 0.5rem;
}

#title {
  width: 100%;
  font-size: 1.25rem;
  text-align: right;
  padding: 0.5rem 0.5rem 0 0;
  color: #052f47;
}

#display {
  background: rgb(0, 198, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 198, 255, 1) 0%,
    rgba(38, 197, 200, 1) 75%,
    rgba(1, 238, 220, 1) 100%
  );
  color: #052f47;
  box-shadow: inset 0.25rem 0.25rem 0.25rem #052f47;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  margin: 2rem 2rem;
}

.drum-pad {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  width: 30%;
  height: 8rem;
  border-radius: 0.75rem;
  background: #7f8c8d;
  color: #052f47;
  box-shadow: 0.25rem 0.25rem 0.25rem #26c5c8;
  border: none;
  outline: none;
}

button:active {
  border-style: none;
}

.active {
  background: #26c5c8;
  height: 7.9rem;
  box-shadow: 0 0 0;
}
