* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7f8c8d;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

#drum-machine {
  background: #ecf0f1;
  max-width: 40rem;
  margin: 5rem auto;
  padding-bottom: 1rem;
  border-radius: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

span {
  padding-right: 0.5rem;
}

#title {
  width: 100%;
  font-size: 1.25rem;
  text-align: right;
  padding: 0.5rem 0.5rem 0 0;
  color: #052f47;
}

#display {
  background: rgb(0, 198, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 198, 255, 1) 0%,
    rgba(38, 197, 200, 1) 75%,
    rgba(1, 238, 220, 1) 100%
  );
  color: #052f47;
  box-shadow: inset 0.25rem 0.25rem 0.25rem #052f47;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  padding: 0.25rem;
  width: 100%;
  margin: 2rem 2rem;
}

.drum-pad {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  width: 30%;
  height: 8rem;
  margin: 0.5rem;
  border-radius: 0.75rem;
  background: #7f8c8d;
  color: #052f47;
  box-shadow: 0.25rem 0.25rem 0.25rem #26c5c8;
  border: none;
  outline: none;
}

button:active {
  border-style: none;
}

.volume-wrapper {
  color: #052f47;
  font-size: 1.25rem;
  margin: 1rem;
  border: 1px solid #052f47;
  border-radius: 0.75rem;
  padding: 1rem;
  width: 45%;
  text-align: center;
}

.speed-wrapper {
  color: #052f47;
  font-size: 1.25rem;
  margin: 1rem;
  border: 1px solid #052f47;
  border-radius: 0.75rem;
  padding: 1rem;
  width: 45%;
  text-align: center;
}

#recording-title {
  color: #052f47;
  width: 20%;
  font-size: 1.25rem;
  padding: 1rem;
}

#recording {
  padding: 1rem;
  background-color: #c6cfcf;
  width: 60%;
  border-radius: 0.5rem;
}

.controls-wrapper {
  padding: 1rem;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.controls {
  font-weight: 600;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background: #7f8c8d;
  color: #052f47;
  box-shadow: 0.25rem 0.25rem 0.25rem #26c5c8;
  border: none;
  outline: none;
}

.active {
  background: #26c5c8;
  box-shadow: 0 0 0;
}

@media (max-width: 640px) {
  #drum-machine {
    max-width: 20rem;
    margin: 7.5rem auto;
  }

  #title {
    width: 100%;
    font-size: 0.75rem;
    text-align: right;
    padding: 0.5rem 0.5rem 0 0;
    color: #052f47;
  }

  #display {
    font-size: 1.5rem;
    margin: 1rem 1rem;
  }

  .drum-pad {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    height: 4rem;
    margin: 0.25rem;
  }

  .volume-wrapper {
    color: #052f47;
    font-size: 1rem;
    border: 1px solid #052f47;
    border-radius: 0.5rem;
    width: 40%;
  }

  .speed-wrapper {
    color: #052f47;
    font-size: 1rem;
    border: 1px solid #052f47;
    border-radius: 0.5rem;
    width: 40%;
  }

  input {
    overflow: hidden;
    width: 100%;
  }

  #recording-title {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
  }

  #recording {
    background-color: #c6cfcf;
    width: 90%;
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  .controls-wrapper {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .controls {
    width: 5rem;
  }

  .active {
    background: #26c5c8;
    box-shadow: 0 0 0;
  }
}
